<!DOCTYPE html>
<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    <link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <style type="text/css">
        h5 {
            color: #f5a31f;
        }

        strong {
            color: #28beff;
        }

        span {
            font-size: 15px;
            margin-right: 5px;
        }

        .cb {
            width: 100px;
        }

        #imgSrc {
            width: 100px;
            height: 120px;
        }

        .smile {
            color: #ffc240;
        }

        .smile span {
            font-size: 18px;
        }

        .title {
            color: #1d97c2;
            font-size: 16px;
        }

        .price {
            font-size: 25px;
            color: #ffc240;
        }

        #price {
            font-size: 40px;
        }

        .yuan {
            font-size: 20px;
            color: #ff7633;
        }
    </style>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed">


    <header class="app-header navbar">

        <a class="navbar-brand" href="/" style="margin-left: 50px">
            <i class="icons cui-task" aria-hidden="true"></i>&nbsp;销售员-订单管理

        </a>


        <ul class="nav navbar-nav d-md-down-none" style="margin-left: 20px;">

            <li class="nav-item px-sm-4">
                <a class="btn-link" href="/">首页</a>
            </li>
            <li class="nav-item px-sm-4">
                <a class="btn-link" href="/saleOrder">管理订单</a>
            </li>
            <li class="nav-item px-sm-4">
                <a class="btn-link" href="/accView?name=<%= username%>">我的业绩</a>
            </li>

            <% if(username){ %>
            <li class="nav-item px-sm-4">
                <a href="/logout" class="btn-link">退出</a>
            </li>
            <% } %>
        </ul>

        <% if(username){ %>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <p style="margin-top: 8px;margin-right: 30px;color: #136685;">欢迎您！
                    <strong style="font-size:18px;color: #20A8D8"><%= username %></strong>销售员
                </p>
            </li>
        </ul>


        <% }else{ %>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="/login">
                    <i class="fa fa-user-circle fa-2x mt-2">
                        <h6>登录</h6>
                    </i>
                </a>
            </li>
        </ul>

        <% } %>
    </header>

    <div class="app-body">

        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">

                <div class="col">

                    <% if(searInfo){ %>
                    <!-- 身份为商家，输入了信息，也找出了对应信息-->
                    <% if(Info.length > 0){ %>
                    <div id="itemsTemplate">
                        <div class="container-fluid">
                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="input-prepend input-group col-sm-10">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-search"></i></span>
                                            </div>
                                            <input class="form-control col-3" id="search" size="10" type="text"
                                                placeholder="查询">
                                            <span class="input-group-append">
                                                <button class="btn btn-info" type="button"
                                                    onclick="find()">Search</button></span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="Info-row">
                                            <% for(var i = 0;i < Info.length;i++){ %>
                                            <div class="col-3" style="margin-left: 20px">
                                                <div class="card" style="width: 18rem;">
                                                    <img src="<%= Info[i].gImgurl %>" class="card-img-top" height="250"
                                                        width="100">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><%= Info[i].gname %></h5>
                                                        <a href="/details?id=<%= Info[i]._id %>">
                                                            <% for(var j = 0;j < 25;j++){ %>
                                                            <%= Info[i].gInfo[j] %>
                                                            <% } %>
                                                            .....
                                                        </a>
                                                        <br><br>
                                                        <button type="button" class="btn btn-sm btn-light float-left">
                                                            <a class="link active show float-left"
                                                                href="/saleDetail?id=<%= Info[i]._id %>">详情</a>
                                                        </button>
                                                        
                                                    </div>
                                                </div>

                                            </div>
                                            <% } %>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 身份为商家，输入了信息，未找出相应信息-->
                    <% }else{ %>
                    <div id="itemsTemplate">
                        <div class="container-fluid">
                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="input-prepend input-group col-sm-10">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-search"></i></span>
                                            </div>
                                            <input class="form-control col-3" id="search" size="10" type="text"
                                                placeholder="查询">
                                            <span class="input-group-append">
                                                <button class="btn btn-info" type="button"
                                                    onclick="find()">Search</button></span>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="Info-row">
                                            <p class="nothing">未查找到相关商品！</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% }else{ %>
                    <!--身份为商家，但未输入信息-->
                    <div id="itemsTemplate ">
                        <div class="container-fluid">
                            <div class="animated fadeIn">
                                <div class="card ">
                                    <div class="card-header">
                                        <div class="input-prepend input-group col-sm-10">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-search"></i></span>
                                            </div>
                                            <input class="form-control col-3" id="search" size="10" type="text"
                                                placeholder="查询">
                                            <span class="input-group-append">
                                                <button class="btn btn-info" type="button"
                                                    onclick="find()">Search</button></span>

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="Info-row">

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>



                </div>

            </ol>

            <div class="container-fluid">
            </div>
        </main>
    </div>


    <!-- CoreUI and necessary plugins-->
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/popper.js/js/popper.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/pace-progress/js/pace.min.js"></script>
    <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>
    <script>
        function find(){
            let sInfo = $("#search").val();
            window.location= "/saleSearch?searInfo=" + sInfo;
        }
    
    </script>


</body>

</html>